@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-family: "Montserrat";
}

header {
  /* background: url("static/images/pitch.jpg") no-repeat center center/cover; */
  background: #041b15;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.posts {
  width: 30%;
  /* display: flex; */
}

.content {
  display: flex;
  justify-content: space-around;
}

nav {
  background: #199474;
}

nav a {
  color: #041b15;
  font-weight: bolder;
}

form {
  width: 30%;
  margin: 0 auto;
}

