{% extends "base.html" %} 
{% block content%}
<form action="" method="GET">
  <h2>Log In</h2>
  <div class="form-group">
    {{form.email.label(class="form-control-label")}}
    {{form.email(class="form-control")}}
  </div>
  <div class="form-group">
    {{form.password.label(class="form-control-label")}}
    {{form.password(class="form-control")}}
  </div>
  <div class="form-group">
    {{form.remember(class="form-check-input")}}
    {{form.remember.label(class="form-check-label")}}
  </div>
  {{form.submit(class="btn btn-primary")}}
  <p class="text-muted mt-3"><small>Need an account? <a href="{{url_for('signup')}}">Sign Up</a></small></p>
</form>

{% endblock content%}